
<div class="footer">
    <div class="container">
        <div class="links">
            <a href="https://www.kuazhu.com" target="_blank" class="link">跨猪</a>
            <a href="https://www.baidu.com" target="_blank" class="link">百度</a> 
            <a href="https://www.taobao.com" target="_blank" class="link">淘宝</a>                    
        </div>
        <div class="copyright">
            © 2019 kuazhu.com 豫ICP备15027861号-2
        </div>
    </div>
</div>

<script src="http://127.0.0.1:3000/lib/jquery/jquery-1.12.4.min.js"></script>