<div class="nav">
    <div class="container">
        <div class="user-info">
            <div class="user not-login">
                <a class="link" href="./user-login.html">登录</a>
                <a class="link" href="./user-register.html">注册</a>
            </div>
            <div class="user login hide">
                <span class="link-text">
                    欢迎
                </span>
                <span class="username">
                    
                </span>
                <a class="link" href="javascript:;" id="logout">退出</a>
            </div>          
        </div>
        <ul class="nav-list">
            <li class="nav-item cart-box">
                <a class="link cart-link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-num">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">我的订单</a>
            </li>
        </ul>
    </div>
</div>