{% extends './layout.html' %}
{% block title %}我的博客详情{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}
{% block content %}
<div class="panel panel-default custom-panel detail-panel">
  <div class="panel-heading">
    <h3 class="panel-title">{{article.title}}</h3>
    <p class="sub-title">
      <span class="text-muted">{{article.category.name}}</span>
      <span class="text-muted">{{article.createdTime}}</span>
      <span class="text-muted"><em>{{article.click}}</em>人已阅读</span>
    </p>
  </div>
  <div class="panel-body">
    <div class="well">
      <strong>简介:</strong>{{article.intro}}
    </div>
    <p>
     {{article.content | safe}}
    </p>
  </div>
</div>                                        
{% endblock %}