/*
* @Author: TomChen
* @Date:   2019-08-23 11:11:57
* @Last Modified by:   TomChen
* @Last Modified time: 2019-08-23 11:12:55
*/
.side{
    width: 150px;
    min-height: 600px;
    float: left;
    background-color: #fff;
    margin-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
.side-item{
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 20px;
}
.side-item.active .link{
    color: #f21;
}
.side-item.active{
    border-right: 2px solid #f21;
}

.side-content{
    float: left;
    width: 910px;
    min-height: 600px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
}