<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>008-v-else-if-条件渲染.html</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="score" />
        <p>你的成绩是:{{score}}</p>
        <p v-if="score >= 90">优秀</p>
        <p v-else-if="score >= 80">良好</p>
        <p v-else-if="score >= 60">及格</p>
        <p v-else>不及格</p>

    </div>
</body>
<script src="js/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            score:0,
        }
    })
</script>
</html>