/*
* @Author: TomChen
* @Date:   2019-08-15 16:58:16
* @Last Modified by:   TomChen
* @Last Modified time: 2019-08-15 17:53:07
*/
.AdminSider a.active{
    color: #1DA57A;
}
.AdminSider .ant-menu-item-selected{
    background-color: transparent !important;
}

.AdminSider .ant-menu-item-selected:after{
    border-right: none  !important;
}