<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('html-loader!./common/meta.html') %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
    <%= require('html-loader!./common/nav.html') %>
    <%= require('html-loader!./common/search.html') %>
    <div class="cart">
        <div class="container">
            <div class="crumb">
                <a href="/" class="link">首页</a>
                <i class="fa fa-angle-right"></i>
                <span class="link-text">
                    <%= htmlWebpackPlugin.options.title %> 
                </span>
            </div>
        </div>      
        <div class="container clearfix">
            <div class="cart-box">
                <!--
                <ul class="product-title clearfix">
                    <li class="product-select">
                        <input type="checkbox" class="select-all" checked />
                        <span>全选</span>
                    </li>
                    <li class="product-info">
                        商品
                    </li>
                    <li class="product-price">
                        单价
                    </li>
                    <li class="product-count">
                        数量
                    </li>
                    <li class="product-totalPrice">
                        小计
                    </li>
                    <li class="product-opreation">
                        操作
                    </li>
                </ul>
                <ul class="product-item" data-product-id="">
                    <li class="product-select">
                        <input type="checkbox" class="select-one" checked />
                    </li>
                    <li class="product-info text-ellipsis">
                        <a href="./detail.html?productId=" class="link" target="_blank">
                            <img src="" alt="">
                            <span>nnnn</span>
                        </a>
                    </li>
                    <li class="product-price">
                        ￥11
                    </li>
                    <li class="product-count">
                        <span class="count-btn minus">-</span><input type="text" value="2" data-stock="" class="count-input" /><span class="count-btn plus">+</span>
                    </li>
                    <li class="product-totalPrice">
                        ￥22
                    </li>
                    <li class="product-opreation">
                        <span class="delete-one link">
                            <i class="fa fa-trash-o"></i> 删除
                        </span>
                    </li>   
                </ul>

                <ul class="product-footer">
                    <li class="product-select">
                        <input type="checkbox" class="select-all" checked />
                        <span>全选</span>
                    </li>
                    <li class="product-opreation">
                        <span class="delete-selected link">
                            <i class="fa fa-trash-o"></i> 删除选中
                        </span>
                    </li>   
                    <li class="product-submit">
                        <span class="total-price-text">总价:</span>
                        <span class="total-price">￥22</span>
                        <a href="javascript:;" class="btn btn-submit">去结算</a>
                    </li>
                </ul>
                -->
            </div>  
        </div>
    </div>
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>