<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('html-loader!./common/meta.html') %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
    <%= require('html-loader!./common/nav.html') %>
    <%= require('html-loader!./common/search.html') %>
    <div class="focus">
        <div class="container clearfix">
            <ul class="categories">
                <!--
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>                                                                           
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                <li class="keyowrd-item">
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                    <a href="./list.html?keyword=手机" class="link">手机</a>    
                </li>
                
                -->
            </ul>
            <div class="swiper-container">

            </div>      
        </div>
    </div>
    <div class="floor">
        <div class="container">
            <div class="floor-wrap">
                <div class="floor-box">
                    <h2 class="floor-title">F1 家用电器</h2>
                    <ul class="floor-list clearfix">
                        <li class="floor-item">
                            <a href="./list.html?categoryId=5b84b36c50f099037f316c64">
                                <p class="floor-text">冰箱洗衣机</p>
                                <!-- <img class="floor-img" src="images/floor/floor01-01.jpg" alt="" /> -->
                            </a>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>    
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>