<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('html-loader!./common/meta.html') %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
    <%= require('html-loader!./common/nav.html') %>
    <%= require('html-loader!./common/search.html') %>
    <div class="payment">
        <div class="container">
            <div class="crumb">
                <a href="/" class="link">首页</a>
                <i class="fa fa-angle-right"></i>
                <span class="link-text">
                    <%= htmlWebpackPlugin.options.title %> 
                </span>
            </div>
        </div>      
        <div class="container clearfix">
            <div class="payment-box">
                <p class="payment-title">您的订单提交成功,订单号是:1111</p>
                <p class="payment-tips">请用尽快支付宝扫描下面的二维码支付</p>
                <img class="payment-qr" src="http://127.0.0.1:3000/alipay-qr/pay.jpg" alt="支付宝支付二维码">
            </div>      
        </div>
    </div>
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>