<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('html-loader!./common/meta.html') %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
    <%= require('html-loader!./common/nav.html') %>
    <%= require('html-loader!./common/search.html') %>
    <div class="user-page-wrap">
        <div class="container">
            <div class="crumb">
                <a href="/" class="link">首页</a>
                <i class="fa fa-angle-right"></i>
                <span class="link-text">
                    <%= htmlWebpackPlugin.options.title %>
                </span>
            </div>
        </div>      
        <div class="container clearfix">
            <%= require('html-loader!./common/side.html') %>
            <div class="side-content">
                <div class="form-box">
                    <div class="error-item">
                        <i class="fa fa-minus-circle error-icon"></i>
                        <p class="error-msg">error</p>
                    </div>
                    <div class="form-item">
                        <label for="" class="form-lable">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="form-content" name="password" placeholder="请输入密码">
                    </div>
                    <div class="form-item">
                        <label for="" class="form-lable">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="form-content" name="repassword" placeholder="请再次输入密码">
                    </div>                                  
                    <div class="btn-item">
                        <a href="javascript:;" class="btn btn-submit" id="btn-submit">提交</a>
                    </div>          
                </div>              
            </div>
        </div>
    </div>     
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>