/*
* @Author: TomChen
* @Date:   2019-08-09 15:59:28
* @Last Modified by:   TomChen
* @Last Modified time: 2019-08-19 17:36:34
*/
*{
    margin: 0;
    padding: 0;
}
.ant-table-content{
    min-height: 600px;
}
.ant-upload-picture-card-wrapper{
    display: block !important;
}
.simditor .simditor-body{
    overflow: hidden !important;
}