{% extends './layout.html' %}
{% block header %}
{% if article %}
编辑文章
{% else %}
添加文章
{% endif %}
{% endblock %}
{% block content %}
{% if article %}
<form class="form-horizontal" action="/article/edit" method="post">
{% else %}
<form class="form-horizontal" action="/article/add" method="post">
{% endif %}    
    <div class="form-group">
        <label for="category" class="col-sm-2 control-label">选择分类</label>
        <div class="col-sm-6">
            <select class="form-control" id="category" name="category">
                {% for category in categories %}
                {% if article.category.toString() == category._id.toString() %}
                <option selected value="{{category._id.toString()}}">{{ category.name }}</option>
                {% else %}
                <option  value="{{category._id.toString()}}">{{ category.name }}</option>
                {% endif %}
                {% endfor %}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" name="title" placeholder="标题" value="{{ article.title }}">
        </div>
    </div>
    <div class="form-group">
        <label for="intro" class="col-sm-2 control-label">简介</label>
        <div class="col-sm-6">
            <textarea name="intro" id="intro" cols="30" rows="6" class="form-control">{{ article.intro }}
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-6">
            <textarea name="content" id="content" cols="30" rows="6" class="form-control">{{ article.content }}</textarea>
        </div>
    </div>         
    <div class="form-group">
        <input type="hidden" name="id" value="{{article._id.toString()}}">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>
{% endblock %}

{% block footer %}
<script src="/lib/ckeditor/ckeditor.js"></script>
<script src="/lib/ckeditor/translations/zh-cn.js"></script>
<script src="/js/article.js"></script>
{% endblock %}

