{% extends './layout.html' %}
{% block header %}
{% if category %}
编辑分类
{% else %}
添加分类
{% endif %}
{% endblock %}
{% block content %}
{% if category %}
<form class="form-horizontal" action="/category/edit" method="post">
{% else %}
<form class="form-horizontal" action="/category/add" method="post">
{% endif %}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">分类名称</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" placeholder="分类名称" autocomplete="off" value="{{ category.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="order" class="col-sm-2 control-label">排序</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="order" name="order" placeholder="排序" value="{{ category.order || 0 }}">
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="id" value="{{category._id.toString()}}">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>
{% endblock %}