{% extends './layout.html' %}
{% block header %}
用户列表
{% endblock %}
{% block content %}
<div class="table-responsive content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>用户名</th>
          <th>是否管理员</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user._id.toString() }}</td>
          <td>{{ user.username }}</td>
          <td>
                {% if user.isAdmin %}
                    是
                {% else %}
                    否
                {% endif %}

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<!--
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page == 1 %}
    <li class="disabled">
      <a href="javascript:;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li>
      <a href="/admin/users?page={{ page - 1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>    
    {% endif %}    
    {% for i in list %}
    {% if i == page %}
    <li class="active"><a href="javascript:;">{{i}}</a></li>
    {% else %}
    <li><a href="/admin/users?page={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}
    {% if page ==  pages %}
    <li class="disabled">
      <a href="javascript:;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>       
    {% else %}
     <li>
      <a href="/admin/users?page={{ page + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}    
  </ul>
</nav>
-->
{% include "./pagination.html" %}

{% endblock %}